html
    head 
        title LOGIN 
    body
        div
            h1 Login
            form(method="POST" action="/dashboard")
                label(for="email") Email
                br
                br
                input(type="email" placeholder="Enter Email" name="Email" required)
                br
                label(for="email") Email
                br
                br
                input(type="password" placeholder="Enter Password" name="password" required)
                br
                br
                button LOGIN